<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users List</title>

    <link href="assets/css/app.min.css" rel="stylesheet" type="text/css" id="light-style" />
</head>

<body>
    <div class="container position-absolute top-50 start-50 translate-middle">
        <div class="header">
            <h1>Users List</h1>
        </div>
        <a href="/create-user" class="badge bg-success">Create new</a>
        <table class="table-responsive table table-centered mb-0">
            <thead>
                <th>ID</th>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Email</td>
                <td>Action</td>
            </thead>

            <body>
                <% for(var i=0; i < userData.length; i++) { %>
                    <tr>
                        <td>
                            <%= userData[i].id %>
                        </td>
                        <td>
                            <%= userData[i].firstName %>
                        </td>
                        <td>
                            <%= userData[i].lastName %>
                        </td>
                        <td>
                            <%= userData[i].email %>
                        </td>
                        <td>
                            <a href="/edit-user?id=<%= userData[i].id %>" class="badge bg-warning text-dark">Edit</a>
                            <a href="/delete-user?id=<%= userData[i].id %>" class="badge bg-danger">Delete</a>
                        </td>
                    </tr>
                    <% } %>
            </body>
        </table>

        <p class="mt-3" style="text-align: center;"><a href="/">Go to home page</a></p>
    </div>
</body>

</html>